<div class="todo-box">
  <h1>
    {{title}}
  </h1>
  <div class="todos">

    <div>
      <form (submit)="addTodo($event)">
        <div class="col-md-12">
          <input [(ngModel)]="newTodo" class="textfield form-control col-md-7 float-left" name="newTodo" placeholder="Add Todo">
          <button  type="submit" class="btn btn-primary col-md-4" [disabled]="newTodo===''">Add Todo</button>
        </div>
        <span [hidden]="!newTodo" style="color: #30ff40;">Typing...</span>
      </form>
    </div>

    <div class="items">
      <div *ngFor="let todo of todos; let i = index" class="col-md-12 item">
        <div class="col-md-6 float-left text-left custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="{{'item'+ i}}" [(ngModel)]="todo.completed" />
          <label class="custom-control-label" for="{{'item'+ i}}" [ngClass]="{'checked': todo.completed}">{{todo.newTodo}}</label>
        </div>
        <div class="col-md-6 float-right">
          <button (click)="deleteTodo(index)" class="btn btn-danger">Delete</button>
          <button (click)="editTodo(i)" class="btn btn-success">Edit</button>
        </div>
      </div>
    </div>

    <div class="selected-btn">
      <button (click)="deleteSelectedTodos()" class="btn btn-info">Delete Selected</button>
    </div>

  </div>
</div>
